<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "cocktail.svg", class: 'img' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cocktail list</a>
       <div class="dropdown-menu">
        <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail.name, cocktail_path(cocktail), class: 'dropdown-item' %>
      <% end %>
    </div>
      </li>
      <li class="nav-item">
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: url(https://www.drinkmonger.com/images/cocktails-banner.jpg);">
  <div class="container">
    <h1>Cocktail</h1>
    <br>
    <p>
  <span id="banner-typed-text"></span>
</p>
  </div>
</div>


<div class="all_container">
<h1>All Cocktails available</h1>
</div>

<div class="block">
 <% @cocktails.each do |cocktail| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
 <a href=""><%= link_to cocktail.name, cocktail_path(cocktail) %></a>
</div>
<% end %>
</div>
