<h1><%= @cocktail.name %></h1>
<% if @cocktail.photo.attached? %>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
<%= image_tag ("https://source.unsplash.com/500x300/?#{@cocktail.name}") %>
<% end %>

<h2>Ingredients :</h2>
 <% @cocktail.doses.each do |dose| %>
  <ul>
    <li><%= dose.ingredient.name %> // Description : <%= dose.description %> <%= link_to icon('fas', 'trash'), dose_path(dose), method: :delete, data: {confirm: "Delete #{dose.ingredient.name}"} %></li>
  </ul>
<% end %>
<br>

<%= link_to 'Back to the list of cocktail', cocktails_path, class: "back_link" %> |

<%= link_to 'Add description and ingredient', new_cocktail_dose_path(@cocktail), class: "add_link"%> |

<%= link_to icon('fas', 'trash'), cocktail_path(@cocktail), method: :delete, data: {confirm: "Delete #{@cocktail.name}"}, class: "delete_link" %>

